.video_page {
    margin-top: 117px;

    &_title {
        margin-bottom: 32px;
        @include font_styles($title_font, 600, 48px, 125%, $title_color);
    }

    &_desc {
        max-width: 848px;
        @include font_styles($desc_font, 400, 16px, 150%, $desc_color)
    }

    &_video {
        margin-top: 40px;
        max-width: 1240px;
        min-height: 621px;
    }
}

@media only screen and (max-width: 1220px) {
    .video_page {
        .container {
            padding: 0 39px;
        }

        margin-top: 112px;

        &_title {
            font-size: 44px;
        }

        &_desc {
            max-width: 100%;
        }

        &_video {
            margin-top: 40px;
            max-width: 690px;
            min-height: 433px;
        }
    }
}

@media only screen and (max-width: 756px) {
    .video_page {
        .container {
            padding: 0 15px;
        }

        margin-top: 88px;

        &_title {
            font-size: 28px;
        }

        &_video {
            margin: 0;
            max-width: 345px;
            height: 340px;
        }
    }
}